<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<head>
    <title>Employee Page</title>
</head>
<body>

<div layout:fragment="content" class="container sandstone">
    <form action="/employee" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="name" placeholder="Search Employee"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </div>
    </form>
    <div class="card">
        <div class="card card-body">
            <div class="row">
                <a th:href="@{/addEmployee}" class="btn btn-success pull-left">
                    <span class="glyphicon glyphicon-plus"></span> New Employee
                </a>
            </div>
            <hr>
            <div class="row">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <tr th:each="emp:${employees}">
                                    <td th:text="${emp.name}"></td>
                                    <td th:text="${emp.phone}"></td>
                                    <td>
                                        <a th:href="@{'/deleteEmployee' + ${emp.id}}" class="btn btn-danger pull-left">
                                            <span class="glyphicon glyphicon-pencil"></span> Delete Employee
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/editEmployee/__${emp.id}__}" class="btn btn-warning pull-left">
                                            <span class="glyphicon glyphicon-trash"></span> Edit Employee
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>