<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<head>
    <title>Report Page</title>
</head>
<body>

<div layout:fragment="content" class="container sandstone">
    <form action="/report" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="name" placeholder="Search Report"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </div>
    </form>
    <div class="card">
        <div class="card card-body">
            <div class="row">
                <a th:href="@{/addReport}" class="btn btn-success pull-left">
                    <span class="glyphicon glyphicon-plus"></span> New Report
                </a>
            </div>
            <hr>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Link</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report:${reports}">
                       <td th:text="${report.date}"></td>
                        <td th:text="${report.title}"></td>
                        <td th:text="${report.link}"></td>
                        <td th:text="${report.description}"></td>
                        <td>
                            <a th:href="@{/deleteReport/__${report.id}__}" class="btn btn-danger pull-left">
                                <span class="glyphicon glyphicon-pencil"></span> Delete Report
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/editReport/__${report.id}__}" class="btn btn-warning pull-left">
                                <span class="glyphicon glyphicon-trash"></span> Edit Report
                            </a>
                        </td>
                     </tr>
                     </tbody>
                 </table>
             </div>
             <hr>
         </div>
     </div>
 </div>
 </body>
 </html>