<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<head>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="stylesheet" th:href="@{static/css/sandstone/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/sandstone/bootstrap.css}"/>
    <script th:src="@{|/webjars/jquery/jquery.min.js|}"></script>
    <script th:src="@{|/webjars/bootstrap/bootstrap.min.js|}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div layout:fragment="content" class="contenedor sandstone"></div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>