<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<head>
    <title>Index Page</title>
</head>
<body>

<div layout:fragment="content" class="container sandstone">
    <div>

        There was an error |<span th:text="${message}"></span>| <span th:text="${status}"
                                                                      class="text text-danger"></span>

    </div>
    <div>
        Please contact mantamusica!!!!
    </div>
</div>
</body>
</html>